.login_text{
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px;
    color: $color_4;
}

.register_text{
    text-decoration: none;
    border: 1px solid $color_2;
    box-sizing: border-box;
    padding: 8px 5px;
    margin-left: 15px;
    color: $color_4;
}

.logout_nav{
    display: flex;
    align-items: center;
    color: $color_2;
    font-size: 15px;

    span{
        color: $color_5;
    }
}

.logout_btn{
    color: $color_4;
    margin-left: 15px;
    font-family: $font-base;
    background: none;
    border: 1px solid rgb(151, 151, 151);
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}