.header-top .text{
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px;
    color: $color_4;
}

.header-top .text-register{
    text-decoration: none;
    border: 1px solid $color_2;
    box-sizing: border-box;
    padding: 8px 5px;
    margin-left: 15px;
    color: $color_4;
}