.register_home_btn_container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.register_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @media (max-width: 700px) {
        padding-top: 110px;
    }
}

.register_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color_5;

    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 15px;
    }

    img{
        height: 25px;
        margin-bottom: 40px;

        @media (max-width: 700px) {
            margin-bottom: 40px;
            height: 20px;
        }
    }
}

.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_form_container{
    background-color: $color_1;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.register_email{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 200px;
    min-height: 70px;
    margin-top: 35px;
}
.register_email_input{
    border: none;
    border-bottom: 1px solid $color_4;
    background: none;
    outline: none;
    min-height: 30px;
    font-family: $font-base;
    margin-bottom: 5px;
}
.register_password{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 200px;
    margin-top: 15px;
    min-height: 90px;
}
.register_password_input{
    border: none;
    border-bottom: 1px solid $color_4;
    background: none;
    outline: none;
    min-height: 30px;
    font-family: $font-base;
    margin-bottom: 5px;
}
.register_password2{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 200px;
    min-height: 90px;
}
.register_password2_input{
    border: none;
    border-bottom: 1px solid $color_4;
    background: none;
    outline: none;
    min-height: 30px;
    font-family: $font-base;
    margin-bottom: 5px;
}

.register_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    
    @media (max-width: 700px) {
        width: 270px;
    }
}

.register_form_switch{
    text-decoration: none;
    color: $color_4;
}

.register_btn{
    color: $color_4;
    border: 1px solid $color_4;
    padding: 12px;
    background: none;
    cursor: pointer;
    outline: none;
}