.form_first_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: calc(100% - 120px);
    overflow: hidden;
    padding-left: 100px;
}

.form_first_input{

}