.form_fourth_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: calc(100% - 120px);
    overflow: hidden;
    padding-left: 100px;

    p{
        margin-top: 30px;
        font-size: 17px;
        color: $color-4;
    }

    h2{
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
    }

    .form_fourth_inputs{
        display: flex;
    }

    .form_fourth_left{
        font-size: 17px;
        margin-right: 70px;

        .form_fourth_input_container{
            margin-bottom: 20px;

            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-5;
            }

            input {
                min-width: 200px;
                min-height: 30px;
                margin-left: 35px;
                border: 1px solid $color-4;
                background: none;
                outline: none;
                padding-left: 10px;
                text-align: center;
                color: $color-5;
                font-size: 16px;
                font-family: $font-base;
            }
        }

        h3{
            margin-top: 20px;
            margin-bottom: 25px;
            font-size: 17px;
            font-weight: 600;
        }
    }

    .form_fourth_right{
        font-size: 17px;

        .form_fourth_input_container{
            margin-bottom: 20px;

            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-5;
            }

            input {
                margin-left: 35px;
                min-height: 30px;
                min-width: 200px;
                background: none;
                border: 1px solid $color-4;
                outline: none;
                padding-left: 10px;
                text-align: center;
                color: $color-5;
                font-size: 16px;
                font-family: $font-base;
            }

            textarea{
                background: none;
                resize: none;
                color: $color-5;
                outline: none;
                font-family: $font-base;
            }
        }

        h3{
            margin-top: 20px;
            margin-bottom: 25px;
            font-size: 17px;
            font-weight: 600;
        }
    }
}