.form_first_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: calc(100% - 120px);
    overflow: hidden;
    padding-left: 100px;
    display: flex;
    flex-direction: column;

    @media (max-width: 700px) {
        padding: 0 25px;
        background-image: none;
    }

    p{
        margin-top: 30px;
        font-size: 17px;
        color: $color-4;

        @media (max-width: 700px) {
            text-align: center;
        }
    }

    h2{
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 600;

        @media (max-width: 700px) {
            text-align: center;
            margin-bottom: 70px;
        }
    }

    label {
        font-size: 18px;
        color: $color-5;
        margin-bottom: 25px;
        display: flex;
        text-align: center;
        align-items: center;

        @media (max-width: 700px) {
            display: flex;
            font-size: 12px;
        }
    }

    input {
        display: none;
    }

    .form_first_checkbox{
        border: 1px solid $color-5;
        background: none;
        min-width: 30px;
        min-height: 30px;
        cursor: pointer;
        margin-right: 25px;

        @media (max-width: 700px) {
            min-width: 20px;
            min-height: 20px;
            margin-right: 20px;
        }
    }
    
    input:checked ~ .form_first_checkbox{
        background: $color-2;
    }
}

