.form_head{
    height: 863px;
    min-width: 90vw;
    display: flex;
    align-items: center;

    p{
        font-weight: 300;
        margin-bottom: 50px;

        @media (max-width: 900px) {
            font-size: 4vw;
        }
    }

    @media (max-width: 900px) {
        height: 1000px;
        padding-top: 100px;
    }
}
.form_head_img{
    background-image: url(../../../assets/Form-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    left: 0;
    width: 60%;
    height: 100%;

    @media (max-width: 900px) {
        display: none;
    }
}
.form_head_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: $color_5;
    transform: translate(-80px, -40px);

    @media (max-width: 900px) {
        transform: translate(0, 0);
        width: 100vw;
        font-size: 5vw;
    }
}
.form_title_decor{
    background-image: url(../../../assets/Decoration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 183px;
    height: 33px;
    margin: 20px 0 10px;

    @media (max-width: 900px) {
        height: 4vw;
        background-position: center;
    }
}
.form_title_squares{
    display: flex;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.form_title_square{
    border: 1px solid #737373;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    h2{
        transform:  translate(-40px, -7px) rotate(-45deg);
        font-weight: 300;
        font-size: 28px;
        margin-bottom: 25px;

        @media (max-width: 700px) {
            font-size: 22px;
        }
    }

    h3{
        transform: translate(10px, -23px) rotate(-45deg);
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;

        @media (max-width: 700px) {
            font-size: 19px;
        }
    }
}

.form_main{
    min-width: 100vw;
    height: 760px;
    background-color: rgb(232, 231, 226);
}

.form_main_alternative{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-2;
    text-align: center;

    h2{
        font-family: $font-base;
        margin: 30px 0;
        font-size: 20px;
        color: $color-5;

        @media (max-width: 700px) {
            font-size: 4vw;
            margin: 25px 0;
        }
    }

    .login-btn{
        text-decoration: none;
        border: 1px solid $color-5;
        color: $color-5;
        font-size: 25px;
        min-height: 80px;
        width: 200px;
        transition: 0.4s;

        @media (max-width: 700px) {
            font-size: 5vw;
            width: 140px;
            min-height: 60px;
        }
    }

    .login-btn:hover{
        transition: 0.4s;
        color: white;
        border-color: white;
    }

    .register-btn{
        text-decoration: none;
        color: $color-3;
        max-height: 60px;
        width: 200px;
        margin: 20px 0;
        transition: 0.4s;
    }

    .register-btn:hover{
        transition: 0.4s;
        color: white;
    }
}

.form_warn{
    background-color: $color-2;
    color: $color-5;
    height: 120px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h2{
        color: black;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 9px;
    }

    @media (max-width: 1000px) {
        padding-left: 0;
        align-items: center;
        text-align: center;
        font-size: 14px;
        line-height: 4.5vw;
        padding: 0 25px;
    }
}

.form_btn_container{
    transform: translate(0px, -100px);
    padding-left: 100px;
    display: flex;

    @media (max-width: 700px) {
        padding-left: 0;
        justify-content: space-evenly;
    }
}

.form_btn{
    color: $color_5;
    width: 140px;
    height: 60px;
    border: 1px solid $color_5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    background: none;
    margin-right: 40px;
    
    .text {
        text-decoration: none;
        border: none;
        text-align: center;
    }

    @media (max-width: 700px) {
        font-size: 15px;
        width: 100px;
        height: 45px;
        margin-right: 0;
    }
}

.form_btn:hover{
    transition: 0.2s;
    color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}