.form_fourth_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: calc(100% - 120px);
    overflow: hidden;
    padding-left: 100px;

    @media (max-width: 900px) {
        padding: 0 25px;
        background-image: none;
    }

    p{
        margin-top: 30px;
        font-size: 17px;
        color: $color-4;

        @media (max-width: 900px) {
            text-align: center;
        }
    }

    h2{
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;

        @media (max-width: 900px) {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    .form_fourth_inputs{
        display: flex;

        @media (max-width: 900px) {
            justify-content: center;
        }
    }

    .form_fourth_left{
        font-size: 17px;
        margin-right: 70px;

        @media (max-width: 900px) {
            margin-right: 40px;
            font-size: 14px;
        }

        .form_fourth_input_container{
            margin-bottom: 20px;

            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-5;

                @media (max-width: 900px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            input {
                min-width: 200px;
                min-height: 30px;
                margin-left: 35px;
                border: 1px solid $color-4;
                background: none;
                outline: none;
                padding-left: 10px;
                text-align: center;
                color: $color-5;
                font-size: 16px;
                font-family: $font-base;

                @media (max-width: 900px) {
                    margin-left: 0;
                    min-width: 0;
                    width: 120px;
                    min-height: 20px;
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }

        h3{
            margin-top: 20px;
            margin-bottom: 25px;
            font-size: 17px;
            font-weight: 600;

            @media (max-width: 900px) {
                font-size: 14px;
            }
        }
    }

    .form_fourth_right{
        font-size: 17px;

        @media (max-width: 900px) {
            font-size: 14px;
        }

        .form_fourth_input_container{
            margin-bottom: 20px;

            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $color-5;

                @media (max-width: 900px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            input {
                margin-left: 35px;
                min-height: 30px;
                min-width: 200px;
                background: none;
                border: 1px solid $color-4;
                outline: none;
                padding-left: 10px;
                text-align: center;
                color: $color-5;
                font-size: 16px;
                font-family: $font-base;
                
                @media (max-width: 900px) {
                    margin-left: 0;
                    min-width: 0;
                    width: 120px;
                    min-height: 20px;
                    margin-top: 5px;
                    font-size: 12px;
                }
            }

            textarea{
                background: none;
                resize: none;
                color: $color-5;
                outline: none;
                font-family: $font-base;

                @media (max-width: 900px) {
                    width: 40vw;
                    height: 100px;
                }
            }
        }

        h3{
            margin-top: 20px;
            margin-bottom: 25px;
            font-size: 17px;
            font-weight: 600;

            @media (max-width: 900px) {
                font-size: 14px;
            }
        }
    }
}