.form_head{
    height: 863px;
    min-width: 90vw;
    display: flex;
    align-items: center;

    p{
        font-weight: 300;
        margin-bottom: 50px;
    }
}
.form_head_img{
    background-image: url(../../../assets/Form-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    left: 0;
    width: 60%;
    height: 100%;
}
.form_head_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: $color_5;
    transform: translate(-80px, -40px);
}
.form_title_decor{
    background-image: url(../../../assets/Decoration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 183px;
    height: 33px;
    margin: 20px 0 10px;
}
.form_title_squares{
    display: flex;
}

.form_title_square{
    border: 1px solid #737373;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    h2{
        transform:  translate(-40px, -7px) rotate(-45deg);
        font-weight: 300;
        font-size: 28px;
        margin-bottom: 25px;
    }

    h3{
        transform: translate(10px, -23px) rotate(-45deg);
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
    }
}

.form_main{
    min-width: 100vw;
    height: 800px;
    background-color: $color-1;
}

.form_main_alternative{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-2;

    h2{
        font-family: $font-base;
        margin: 30px 0;
        font-size: 20px;
        color: $color-5
    }

    .login-btn{
        text-decoration: none;
        border: 1px solid $color-5;
        color: $color-5;
        font-size: 25px;
        min-height: 80px;
        width: 200px;
        transition: 0.4s;
    }

    .login-btn:hover{
        transition: 0.4s;
        color: white;
        border-color: white;
    }

    .register-btn{
        text-decoration: none;
        color: $color-5;
        max-height: 60px;
        width: 200px;
        margin: 20px 0;
        transition: 0.4s;
    }

    .register-btn:hover{
        transition: 0.4s;
        color: white;
    }
}

.form_warn{
    background-color: $color-2;
    color: $color-5;
    height: 120px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h2{
        color: black;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 9px;
    }
}

.form_btn{
    color: $color_4;
    width: 210px;
    height: 80px;
    border: 1px solid $color_4;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 2px;
    
    .text {
        text-decoration: none;
        border: none;
        text-align: center;
    }
}