.form_summary_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 100%;
    overflow: hidden;
    padding-left: 100px;
}