.form_thankyou_container{
    background-image: url(../../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 100%;
    overflow: hidden;
    padding-left: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 300;
    color: $color-5;

    @media (max-width: 1000px) {
        background-image: none;
    }

    @media (max-width: 1000px) {
        padding: 0 20px;
    }

    p{
        margin-bottom: 20px;
        line-height: 45px;
        transform: translate(-24vw, 0);

        @media (max-width: 1000px) {
            transform: translate(0, 0);
        }
    }

    img{
        height: 30px;
        transform: translate(-24vw, 0);

        @media (max-width: 1000px) {
            transform: translate(0, 0);
        }
    }
}