.about{
    background-color: $color_1;
    color: $color_4;
    display: flex;
    justify-content: space-between;
    height: 550px;

    @media (max-width: 900px) {
        height: 420px;
        justify-content: center;
    }
}

.about_container{
    min-width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;     
    max-height: 100%;  
    padding: 0 20px;
}
.about_text{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

    .about_decor{
        margin-bottom: 30px;
        height: 26px;
    }
    .about_signature{
        height: 100px;
        margin-top: 30px;
        transform: translate(200px, 0);

        @media (max-width: 1100px) {
            height: 15vw;
            transform: translate(100px, 0);
        }
    }

    h1{
        font-size: 32px;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            font-size: 26px;
        }
    }

    p{
        font-size: 24px;
        text-align: center;
        line-height: 40px;

        @media (max-width: 900px) {
            font-size: 16px;
        }
    }
}

.about_img{
    @media(max-width: 900px){
        display: none;
    }
}