.footer {
    height: 726px;
    max-width: 100vw;
    margin-top: 60px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.footer::after {
    content: "";
    background-image: url(../../../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 15%;
    top: 19%;
    height: 287px;
    width: 438px;

    h1{
        font-size: 30px;
        margin-bottom: 20px;
        color: $color_5;
        text-align: center;
    }

    h4 {
        font-size: 15px;
        font-weight: 600;
        color: rgb(9, 190, 9);
        text-align: center;
    }

    img{
        width: 210px;
        margin-bottom: 20px;
    }
}

.footer_form{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    width: 100%;

    label{
        color: $color_5;
    }

    textarea{
        font-family: $font-base;
        min-width: 100%;
        height: 80px;
        border: none;
        resize: none;
        border-bottom: 1px solid #3C3C3C26;
        outline: none;
        padding: 0;
        padding-top: 10px;
        background: none;
        margin-bottom: 10px;
        color: $color_5;
    }

    ::placeholder {
        color: #3C3C3C26;
    }
}

.form_data{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 15px 0 10px;
    height: 100px;
    color: $color_5;

    .name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 10px;

        p {
            margin: 0;
        }

        .name_input{
            font-family: $font-base;
            border: none;
            border-bottom: 1px solid #3C3C3C26;
            outline: none;
            width: 210px;
            margin-top: 10px;
            background: none;
            max-height: 30px;
        }
    }
    .email{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 10px;

        p {
            margin: 0;
        }

        .email_input{
            font-family: $font-base;
            border: none;
            border-bottom: 1px solid #3C3C3C26;
            outline: none;
            width: 210px;
            margin-top: 10px;
            background: none;
            max-height: 30px;
        }
    }

}

.form_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100%;
    margin-bottom: 10px;
    height: 125px;
}

.form_btn{
    border: 1px solid $color_5;
    color: $color_5;
    font-family: $font-base;
    background: none;
    width: 120px;
    height: 40px;
    outline: none;
    cursor: pointer;
    transform: translate(265%, 0)
}
.form_btn:active{
    background-color: rgba(235, 235, 235, 0.705);
    transition: 0.1s;
}

.footer_bottom{
    height: 20px;
    width: 100vw;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 13px;
    margin-bottom: 13px;
}