.main{
    height: 863px;
    width: 90vw;
    display: flex;
    align-items: center;

    @media(max-width: 700px){
        justify-content: center;
        width: 100vw;
        height: 400px;
        padding-top: 250px;
    }
}
.main_img{
    background-image: url(../../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    left: 0;
    width: 700px;
    height: 100%;

    @media(max-width: 700px){
        display: none;
    }
}
.main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: $color_5;
    margin-left: 30px;
    margin-top: 20px;

    @media(max-width: 700px){
        font-size: 4vw;
        margin-left: 0;
        margin-top: 70px;
    }
}
.title_decor{
    background-image: url(../../../assets/Decoration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 183px;
    height: 33px;
    margin: 20px 0 40px;

    @media(max-width: 700px){
        height: 4vw;
        background-position: center;
        margin-top: 10px;
    }
}
.title_buttons{
    display: flex;
}
.title_button{
    color: $color_4;
    width: 210px;
    height: 80px;
    border: 1px solid $color_4;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    padding: 2px;
    position: relative;
    
    .text {
        text-decoration: none;
        border: none;
        text-align: center;
    }

    @media(max-width: 700px){
        width: 140px;
        height: 50px;
        font-size: 15px;
        line-height: 18px;
    }

    span {
        font-size: 9px;
        color: red;
        position: absolute;
        bottom: 75%;
        white-space: nowrap;
    }
}