.columns_container{
    max-width: 100vw;
    height: 360px;
    background-color: $color_2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div{
        color: $color_5;
        text-align: center;
        width: 350px;

        h1{
            font-size: 70px;
        }

        h3{
            font-size: 20px;
            margin: 30px 0;
        }

        p{
            line-height: 20px;
        }
    }
}