@import "../../node_modules/reset-css/sass/reset";
@import "./settings/fonts";
@import "./settings/colors";

@import "component_styles/home/Home";
@import "component_styles/home/Main";
@import "component_styles/home/YellowColumns";
@import "component_styles/home/SimpleSteps";
@import "component_styles/home/About";
@import "component_styles/home/WhoWeHelp";
@import "component_styles/home/Footer";

@import "component_styles/form/Form";

@import "component_styles/routing/LoginRouting";
@import "component_styles/routing/HomeButton";

@import "component_styles/Login";
@import "component_styles/Register";
@import "component_styles/Logoutn";

body {
    font-family: $font-base;
    overflow-x: hidden;
}