@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

@import "../../node_modules/reset-css/sass/reset";
@import "./settings/fonts";
@import "./settings/colors";

@import "component_styles/home/Home";
@import "component_styles/home/Main";
@import "component_styles/home/YellowColumns";
@import "component_styles/home/SimpleSteps";
@import "component_styles/home/About";
@import "component_styles/home/WhoWeHelp";
@import "component_styles/home/Footer";

@import "component_styles/form/Form";
@import "component_styles/form/FormFirstStep";
@import "component_styles/form/FormSecondStep";
@import "component_styles/form/FormThirdStep";
@import "component_styles/form/FormFourthStep";
@import "component_styles/form/FormSummary";
@import "component_styles/form/FormThankYou";

@import "component_styles/routing/LoginRouting";
@import "component_styles/routing/HomeButton";

@import "component_styles/Login";
@import "component_styles/Register";
@import "component_styles/Logoutn";

body {
    font-family: $font-base;
    overflow-x: hidden;
}

.splashScreen{
    max-width: 100vw;
    height: 100vh;
    display: flex;  
    justify-content: center;    
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}